<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="mainContainer">

        <div class="dataContainer">
          <div class="header">
          👊 What's up
          </div>
  
          <div class="bio">
          I am Elbert and this is the dapp I created. Enabled by buildspace. Connect your Ethereum wallet and fist bump me!
          </div>

          <!--
            Need to add an acction for fistbump button
          -->
  
          <button class="fistbumpButton"> 
          Send a Fist Bump
          </button>
        </div>
      </div>
</body>
</html>